---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/nic-lan/events/orgs/HitFox
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 5a2a5b75d33144e79a1af635dc2b266d0f279270
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4764'
      X-Ratelimit-Reset:
      - '1438269669'
      Last-Modified:
      - Thu, 30 Jul 2015 08:00:25 GMT
      Etag:
      - W/"29e09f67d8e77862cbafd096bc817a1f"
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - gist, notifications, read:org, read:repo_hook, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/user/8820351/events/orgs/HitFox?page=2>; rel="next",
        <https://api.github.com/user/8820351/events/orgs/HitFox?page=10>; rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"3018098462","type":"CreateEvent","actor":{"id":5805095,"login":"DominicBreuker","gravatar_id":"","url":"https://api.github.com/users/DominicBreuker","avatar_url":"https://avatars.githubusercontent.com/u/5805095?"},"repo":{"id":39737118,"name":"HitFox/wirecard","url":"https://api.github.com/repos/HitFox/wirecard"},"payload":{"ref":"backend","ref_type":"branch","master_branch":"master","description":"Wirecard
        API","pusher_type":"user"},"public":true,"created_at":"2015-07-30T15:00:25Z","org":{"id":1249488,"login":"HitFox","gravatar_id":"","url":"https://api.github.com/orgs/HitFox","avatar_url":"https://avatars.githubusercontent.com/u/1249488?"}},{"id":"3017894087","type":"PushEvent","actor":{"id":4924691,"login":"ImJoeWebb","gravatar_id":"","url":"https://api.github.com/users/ImJoeWebb","avatar_url":"https://avatars.githubusercontent.com/u/4924691?"},"repo":{"id":33987515,"name":"HitFox/optisure","url":"https://api.github.com/repos/HitFox/optisure"},"payload":{"push_id":742677622,"size":1,"distinct_size":1,"ref":"refs/heads/jw-typeform-integration-part-2","head":"16351d386b28c28622bc3f3363ae9cd9bc3517ad","before":"ca0889cf607c14970706e5b4354168bd76f916b4","commits":[{"sha":"16351d386b28c28622bc3f3363ae9cd9bc3517ad","author":{"email":"joe.webb@hitfoxgroup.com","name":"Joe
        Webb"},"message":"WIP Typeform admin ui","distinct":true,"url":"https://api.github.com/repos/HitFox/optisure/commits/16351d386b28c28622bc3f3363ae9cd9bc3517ad"}]},"public":false,"created_at":"2015-07-30T14:05:53Z","org":{"id":1249488,"login":"HitFox","gravatar_id":"","url":"https://api.github.com/orgs/HitFox","avatar_url":"https://avatars.githubusercontent.com/u/1249488?"}},{"id":"3017893431","type":"PushEvent","actor":{"id":956329,"login":"busyxin","gravatar_id":"","url":"https://api.github.com/users/busyxin","avatar_url":"https://avatars.githubu[...]
