---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/nic-lan/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1438104270'
      Etag:
      - W/"6760f4b55897974b08d533f7c1b4ea01"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":31599737,"name":"learnRuby","full_name":"nic-lan/learnRuby","owner":{"login":"nic-lan","id":8820351,"avatar_url":"https://avatars.githubusercontent.com/u/8820351?v=3","gravatar_id":"","url":"https://api.github.com/users/nic-lan","html_url":"https://github.com/nic-lan","followers_url":"https://api.github.com/users/nic-lan/followers","following_url":"https://api.github.com/users/nic-lan/following{/other_user}","gists_url":"https://api.github.com/users/nic-lan/gists{/gist_id}","starred_url":"https://api.github.com/users/nic-lan/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/nic-lan/subscriptions","organizations_url":"https://api.github.com/users/nic-lan/orgs","repos_url":"https://api.github.com/users/nic-lan/repos","events_url":"https://api.github.com/users/nic-lan/events{/privacy}","received_events_url":"https://api.github.com/users/nic-lan/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/nic-lan/learnRuby","description":"implementing
        learn Ruby book ","fork":false,"url":"https://api.github.com/repos/nic-lan/learnRuby","forks_url":"https://api.github.com/repos/nic-lan/learnRuby/forks","keys_url":"https://api.github.com/repos/nic-lan/learnRuby/keys{/key_id}","collaborators_url":"https://api.github.com/repos/nic-lan/learnRuby/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/nic-lan/learnRuby/teams","hooks_url":"https://api.github.com/repos/nic-lan/learnRuby/hooks","issue_events_url":"https://api.github.com/repos/nic-lan/learnRuby/issues/events{/number}","events_url":"https://api.github.com/repos/nic-lan/learnRuby/events","assignees_url":"https://api.github.com/repos/nic-lan/learnRuby/assignees{/user}","branches_url":"https://api.github.com/repos/nic-lan/learnRuby/branches{/branch}","tags_url":"https://api.github.com/repos/nic-lan/learnRuby/tags","blobs_url":"https://api.github.com/repos/nic-lan/learnRuby/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/nic-lan/learnRuby/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/nic-lan/learnRuby/git/refs{/sha}","trees_url":"https://api.github.com/repos/nic-lan/learnRuby/git/trees{/sha}","statuses_url":"https://api.github.com/repos/nic-lan/learnRuby/statuses/{sha}","languages_url":"https://api.github.com/repos/nic-lan/learnRuby/languages","stargazers_url":"https://api.github.com/repos/nic-lan/learnRuby/stargazers","contributors_url":"https://api.github.com/repos/nic-lan/learnRuby/contributors","subscribers_url":"https://api.github.com/repos/nic-lan/learnRuby/subscribers","subscription_url":"https://api.github.com/repos/nic-lan/learnRuby/subscription","commits_url":"https://api.github.com/repos/nic-lan/learnRuby/commits{/sha}","git_commits_url":"https://api.github.com/repos/nic-lan/learnRuby/git/commits{/sha}","comments_url":"https://api.github.com/repos/nic-lan/learnRuby/comments{/number}","issue_comment_url":"https://api.github.com/repos/nic-lan/learnRuby/issues/comments{/number}","contents_url":"https://api.github.com/repos/nic-lan/learnRuby/contents/{+path}","compare_url":"https://api.github.com/repos/nic-lan/learnRuby/compare/{base}...{head}","merges_url":"https://api.github.com/repos/nic-lan/learnRuby/merges","archive_url":"https://api.github.com/repos/nic-lan/learnRuby/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/nic-lan/learnRuby/downloads","issues_url":"https://api.github.com/repos/nic-lan/learnRuby/issues{/number}","pulls_url":"https://api.github.com/repos/nic-lan/learnRuby/pulls{/number}","milestones_url":"https://api.github.com/repos/nic-lan/learnRuby/milestones{/number}","notifications_url":"https://api.github.com/repos/nic-lan/learnRuby/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/nic-lan/learnRuby/labels{/name}","releases_url":"https://api.github.com/repos/nic-lan/learnRuby/releases{/id}","created_at":"2015-03-03T13:29:58Z","updated_at":"2015-03-03T13:57:50Z","pushed_at":"2015-03-04T11:17:53Z","git_url":"git://github.com/nic-lan/learnRuby.git","ssh_url":"git@github.com:nic-lan/learnRuby.git","clone_url":"https://github.com/nic-lan/learnRuby.git","svn_url":"https://github.com/nic-lan/learnRuby","homepage":null,"size":148,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master"},{"id":38489410,"name":"learn_ruby_the_hard_way","full_name":"nic-lan/learn_ruby_the_hard_way","owner":{"login":"nic-lan","id":8820351,"avatar_url":"https://avatars.githubusercontent.com/u/8820351?v=3","gravatar_id":"","url":"https://api.github.com/users/nic-lan","html_url":"https://github.com/nic-lan","followers_url":"https://api.github.com/users/nic-lan/followers","following_url":"https://api.github.com/users/nic-lan/following{/other_user}","gists_url":"https://api.github.com/users/ni[...]
